@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    font-family: "Roboto","Droid Sans","Helvetica Neue","Helvetica","Arial","sans-serif";
    background: linear-gradient(to right, #5A99C6, #295368);
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

section {
    max-width: 900px;
    margin: 2.5rem auto;
}

h1, h2, p {
    margin: 0 0 2rem;
    padding: 0 10px;
}

h1 {
    font-size: 2rem;
    color: #C1EDF6;
}

h2 {
    font-size: 1.6rem;
}

a {
    color: #ffffff;
}

#logo {
    display: block;
    height: 150px;
    margin: 0 auto;
}

#meetup {
    max-width: 800px;
}

ul.social {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social > li {
    display: inline-block;
    margin: 0 10px;
}

i {
    font-size: 1.5rem;
}

section > p {
    font-size: 1.2rem;
    line-height: 34px;
}

a.event {
    max-width: 800px;
    text-decoration: none;
    text-align: left;
    margin: 15px auto 2rem;
}

/* Desktop */
@media only screen and (min-width: 768px) {
    a.event {
        display: flex;
        align-items: center;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    a.event {
        display: block;
    }
}

a.event > img {
    max-width: 400px;
    width: 100%;
}

a.event > div {
    padding: 20px;
    margin: 0;
}

a.event p {
    padding: 0;
}

p.title {
    font-size: 1.5rem;
    margin: 0 0 30px;
}

p.date, p.venue {
    font-style: italic;
    color: #C1EDF6;
    margin: 0 0 10px;
}

p.date::before {
    font-style: normal;
    content: "🗓️ ";
}

p.venue::before {
    font-style: normal;
    content: "📍 ";
}

.border {
    border: 2px solid #67A6D6;
}

footer > p {
    font-size: 0.9rem;
    display: inline-flex;
    vertical-align: middle;
}

#sb-logo {
    max-width: 85px;
    margin-left: 10px;
}
